@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primary-color: #304C89;
    --secondary-color: #466cb0;
    --accent1-color: #AAE0F5;
    --accent2-color: #FFD972;

    --heading-font: Montserrat, serif;
    --paragraph-font: Montserrat, serif;

    --nav-background-color: #304C89;
    --nav-link-color: #FFD972;
    --nav-hover-link-color: #FFD972;
    --nav-hover-background-color: #466cb0;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.logo {
    place-self: center;
}

p {
    padding: 20px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    flex: 1 1 100%;
    text-align: center;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

main {
    max-width: 960px;
}

.hero {
    position: relative;
}

.hero h1 {
    color: var(--accent2-color);
    text-shadow: 1px 1px #333;
    margin: 0;
    position: absolute;
    top: 15px;
    left: 15px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: 70px;
    background-color: rgba(79, 79, 79, 0.7);
}

.hero article img {
    float: right;
    margin: 15px;;
    width: 200px;
}

.hero article p {
    color: #fff;
    margin: 0;
    text-shadow: 1px 1px #333;
}

.sociallinks a {
    text-decoration: none;
}

.history {
    margin: 30px 0;   
}

.history .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    place-items: center;
    align-items: center;
}

.history h2 {
    margin: 0 0 15px 0;
    text-align: center;
}

.history p {
    margin: 0;
    padding: 0 20px;
}

.history img {
    max-width: 100%;
    max-height: 100%;
}

.adventures {
    margin: 30px 0;
}

.adventures h2 {
    text-align: center;
}

.adventures .flex {
    display: flex;
    justify-content: space-between;
}

.adventures .flex figure {
    flex: 0 1 20%;
}

.adventures .flex figure img {
    max-width: 100%;
    max-height: 200px;
}

.adventures .flex figure figcaption {
    text-align: center;
}

footer {
    background-color: var(--nav-background-color);
    color: #fff;
    display: grid;
    grid-template-columns: 4fr 1fr;
    place-items: center;
}
